<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <receiver android:name="com.veiller.crust.receivers.CaptionsTesterIncidentReceiver" android:exported="true">
      <intent-filter>
        <action android:name="com.veiller.CAPTIONS_TESTER_INCIDENT"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
