*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Explicitly add mentra live libs
!app/src/main/jniLibs/**/*.so
# Sentry Config Files
sentry.properties
sentry.properties.*
app/src/main/assets/sentry.properties
app/src/main/assets/sentry.properties.*
